[Desktop Entry]
Version=1.0
Name=Twitch.tv
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Twitch.tv
StartupWMClass=Google-chrome
Exec=/usr/bin/google-chrome-stable --app="https://www.twitch.tv/" %U
StartupNotify=true
Terminal=false
Icon=twitch-indicator
Type=Application
