# should be the same as dir name
appname="app1"
# Organization and grouping
tags=()
# yay packages required for this app
pkg_depends=()

# Commands first
pre () {
    :
}

# Commands run after package installs
install_post () {
    :
}

# Commands to run after stow install but before dconf
stow_post () {
    :
}

# Pass all the path, file tuples to `dconf_load`
dconf_load_all () {
    # dconf_load /com/gexperts/Tilix/ tilix.dconf
    :
}

# Commands to run last
post () {
    :
}
