[Unit]
Description=Fusuma multitouch gesture recognizer

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/usr/bin/fusuma
StandardOutput=null
KillMode=process
Restart=always

[Install]
WantedBy=graphical.target
